.navigation-links{
    color: #000000;
    display: inline-flex;
    justify-content: right;
}
.myName{
    display: inline-flex;
    font-size: 50px;
    text-align: center;
    color: gold;
}

.headerDiv{
    border-bottom: 5px solid gold;
    background: #569fef;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.nav-item{
    color: #000000;
    height: min-content;
    margin-top: auto;
    font-size: 20px;
    width: 150px;
    list-style: none;
}

.nav-item a:hover{
    color: gold;
}

#root{
    background: #f9f9f9;
    background-image: url("../../public/BackgroundPort.webp");
    background-size: cover;
    background-position-x: center;
}

@media screen and (max-width: 825px){
    .nav-item{
        width: 110px;
        font-size: 14px;
    }

    .myName{
        font-size: 25px;
    }
}

@media screen and (max-width: 560px) {
    .nav-item{
        width: 85px;
        font-size: 14px;
    }

    .myName{
        font-size: 16px;
    }
}
